/* COFFEE*/

.CT {
    display: flex;
    justify-content: left;
    font-size: X-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2rem;
    font-weight: bold;
}

.CD {
    float: right;
    padding-right: 10rem;
    padding-top: 10rem;
}