/* Doughnuts*/

.DT {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: XX-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.DTT {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: X-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TablaTi {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: XX-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TablaTe {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: left;
    font-size: X-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.DF {
    float: right;
    padding-top: 8rem;
}

/* LOCATIONS */

.LOCATI {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    padding-left: 30rem;
    font-size: XX-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.LOCATE {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 30rem;
    font-size: X-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.DL {
    float: center;
    padding-left: 15rem;
}