/* FQS */

.FQS {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: XX-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.FQ {
    margin-left: 30rem;
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: X-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.F {
    margin-left: 30rem;
    display: flex;
    justify-content: left;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
