/* Home */

.Tittle {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 1rem;
    font-weight: bold;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    display: flex;
    justify-content: center;
    font-size: X-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.IMG {
    display: flex;
    justify-content: center;
}

.Catering {
    display: flex;
    justify-content: center;
    padding-left: 28rem;
}

.CateringT {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.PS {
    display: flex;
    justify-content: center;
    padding-left: 30rem;
}

.PST {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}