*{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
}

@import  "_HOME.SCSS";
@import  "_DOUGHNUTS.SCSS" ;
@import  "_LOCATIONS.SCSS" ;
@import  "_COFFEE.SCSS" ;
@import  "_FAQS.SCSS" ;
@import  "_PLANTILLA.SCSS" ;
@import  "_NAVBAR.SCSS" ;
@import  "_FOOTER.SCSS" ;
@import  "_RESPONSIVE.SCSS" ;






